snippet TD "todo annotation comment"
// TODO: $1
endsnippet

snippet ernv "error handling without return values"
if err := $1($2); err != nil{
	$3
}
endsnippet

snippet ervr "error handling with return values"
$1, err := $2($3)
if err != nil{
	$4
}
endsnippet
