snippet dc "@dataclass"
@dataclass
class $1:
	$2
endsnippet

snippet idc "import dataclass"
from dataclasses import dataclass
endsnippet

snippet ir "import requests"
import requests
endsnippet

snippet ij "import json"
import json
endsnippet

snippet td "test define"
def test_$1($2):
	$3
endsnippet

snippet ta "test assert"
assert $1 ${2:==} $3
endsnippet

snippet de "def"
def $1($2):
	$3
endsnippet

